<html>
    <body>
        <h1>Warning</h1>
        <p>Hello {{user.name }},</p><br>
        <p>You've been invited to become an Admin!</p>
         <p>Click on <a href='{{url}}'>This link</a> to Apply now or paste the following URL into a web browser.</p>
        <p>{{ url }}</p>
       
        
        </body>
</html>
