{# WARNING: this template is for an email, NOT an HTML page #}
<html>
    <body>
        <h1>Warning</h1>
        <p>Hello {{user.name }},</p><br>
        <p>{{reason}}</p>
       
        
        </body>
</html>

