{% extends "master.html.twig" %}


{% block title %}Warn User{% endblock %}

{% block content %}

    
    {% if error %}
        
        <p>Message Invalid</p>  
        {% endif %}
        
      
            

        
           <div class="row">
        <div class="col-md-3"> </div>
          <div>
           
  
        </div><br>
        <div class="col-md-4">
          <div class="card text-white p-5 bg-primary" style="" >
            <div class="card-body">
      <h4>User Selected:</h4><br>
            <p>Id: {{p.id}}</p>
            <p>Username: {{p.username}}</p>
            <p>Email: {{p.email}}</p>     
              <form  method="post">
                 
           <textarea rows="4" cols="50" name="reason" placeholder="Enter message"></textarea><br>
            <input type="submit" class="btn btn-secondary" value="Send Warning Email">
</form>
           
              <style> 
                  #click {
                      color:white;
                  }
              </style>
            </div>
          </div>
        </div>
      </div>

{% endblock %}