{% extends "master.html.twig" %}


{% block title %}Access Denied{% endblock %}

{% block content %}
     <div class="container">

<<<<<<< HEAD
<h1>Access Denied</h1>
 <img src='/images/denied.png'>
     </div>

=======
<div class="container center">
       <h3>Access Denied</h3>
        <img src='/images/denied.png' width='300' height='300'>
    </div>
>>>>>>> 6bdedef6ebe4de7da957852f8bfd3b95bd1122ab
{% endblock %}