{% extends "master.html.twig" %}


{% block title %}Access Denied{% endblock %}

{% block content %}

<div class="container center">
       <h3>Access Denied</h3>
        <img src='/images/denied.png' width='300' height='300'>
    </div>
{% endblock %}