{% extends "master.html.twig" %}

{% block title %}Chats{% endblock %}
{% block headextra %}
    <script>
          function loadPage(cid) {
            $('#chatBox').load("/chats/" + cid);
            window.history.pushState("", "Chats", "/chats/" + cid);  
        }
    </script>
{% endblock %}

{% block content %}
    <style>
        .chatperson{
            display: block;
            border-bottom: 1px solid #eee;
            width: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 15px;
            padding: 4px;
        }
        .chatperson:hover{
            text-decoration: none;
            border-bottom: 1px solid orange;
        }
        .namechat {
            display: inline-block;
            vertical-align: middle;
        }
        .chatperson .chatimg img{
            width: 40px;
            height: 40px;
            background-image: url('http://i.imgur.com/JqEuJ6t.png');
        }
        .chatperson .pname{
            font-size: 18px;
            padding-left: 5px;
        }
        .chatperson .lastmsg{
            font-size: 12px;
            padding-left: 5px;
            color: #ccc;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                
                
                
                 {% for chat in chatList  %}
                <a href="javascript:loadPage({{chat.id}})"  class="chatperson">
                    <span class="chatimg">
                        <img src="{{chat.user2Pic}}" alt="" />
                    </span>
                    <div class="namechat">
                        <div class="pname">{{chat.user2}}</div>
                        <div class="lastmsg"></div>
                         
                    </div>

                </a>

                 {% endfor %}
             
            </div>
            <div class="col-sm-8">
                <div id="chatBox" class="chatbody">

                    {#<table class="table">
                        
                        
                        <tr>
                            <td><img src="" /></td>
                            <td>sdk fnsdkjnsadjnlk anflkjasdnflk kjasndlkfjnsdfs adfjksd ofh saddf lsdnflksnadl fjnasdfl ajsndflkja nlnfsdjlnf aslnfd as</td>
                            <td>15:20</td>
                        </tr>

                        
                    </table>#}

                </div>

                <div class="row">
                    <div class="col-xs-9">
                        <input type="text" placeholder="Enter message" class="form-control" />
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary btn-block" >Send</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}