{% extends "master.html.twig" %}

{% block title %}Chats{% endblock %}
{% block headextra %}
    <script>
        var currChatNo = 0;

        function loadPage(cid) {
            $('#chatBox').load("/chats/" + cid);
            currChatNo = cid;
            // window.history.pushState("", "Chats", "/chats/" + cid);  
        }
        setInterval(chatRefresh, 3000);
        function chatRefresh() {
            if (currChatNo > 0) {
                loadPage(currChatNo);
            }
        }
        function sendMessage() {
            var msg = $("input[name=message]").val();
            console.log("sendMessage: " + msg)
            $.post("/ajax/addchatmsg/" + currChatNo, msg, function() {
                console.log("msg posted to chat " + currChatNo );
                loadPage(currChatNo);
                $("input[name=message]").val("");
            });
        }

    </script>
{% endblock %}

{% block content %}
    <style>
        .chatperson{
            display: block;
            border-bottom: 1px solid #eee;
            width: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 15px;
            padding: 4px;
        }
        .chatperson:hover{
            text-decoration: none;
            border-bottom: 1px solid orange;
        }
        .namechat {
            display: inline-block;
            vertical-align: middle;
        }
        .chatperson .chatimg img{
            width: 40px;
            height: 40px;
            background-image: url('http://i.imgur.com/JqEuJ6t.png');
        }
        .chatperson .pname{
            font-size: 18px;
            padding-left: 5px;
        }
        .chatperson .lastmsg{
            font-size: 12px;
            padding-left: 5px;
            color: #ccc;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">



                {% for chat in chatList  %}
                    <a href="javascript:loadPage({{chat.id}})"  class="chatperson">
                        <span class="chatimg">
                            <img src="{{chat.user2Pic}}" alt="" />
                        </span>
                        <div class="namechat">
                            <div class="pname">{{chat.user2}}</div>
                            <div class="lastmsg"></div>

                        </div>

                    </a>

                {% endfor %}

            </div>
            <div class="col-sm-8">
                    <div id="chatBox" class="chatbody">
                    </div>

                    <div class="row">
                        <div class="col-xs-9">
                            <input type="text" name="message" placeholder="Enter message" class="form-control" />
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary btn-block" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}