
{# <table class="table">#}



  <div class="commentArea" >   
    {% for chatMes in mes|reverse%}


        {% if ses.id == chatMes.authorId%}   
               
                <div class="bubbledRight">
                <p class="date">{{chatMes.date}}</p>  
                    {{chatMes.messages}}
                </div>
           
        {% else %}
            
                <div class="bubbledLeft">
                <p class="date">{{chatMes.date}}</p> 
                    {{chatMes.messages}}
                </div>
           
        {% endif %}             
      
    {% endfor %}
  </div>
      
 


