 <p>Internal error occured, we're very sorry.
    Our team of coding ninjas has been notified
    and is already working on the problem.
    <a href='/'>click to continue</a>.</p>
 <img src='/images/ninja.png'>