{% extends "master.html.twig" %}


{% block title %}Error{% endblock %}

{% block content %}
<p>Internal error occured, we're very sorry.<br>
    Our team of coding ninjas has been notified
    and is already working on the problem.</p>
<p><a href='/'>click to continue</a>.</p>
 <img src='/images/ninja.png'>
 {% endblock %}