{% extends "master.html.twig" %}


{% block title %}Main{% endblock %}


{% block content %}
    


  <!--  <h5>This is a dating website</h5><br><br>
    
    <p>Register <a href="/register">Here</a><p><br>
    <p>View your <a href="/profile">Profile</a></p><br>
    <p>Log in to <a href="/admin/login">Admin Panel</a></p><br>
    <p>Or <a href="/logout">Logout</a></p> -->
  

<html>


<body>
 
  <div class="py-5 text-center opaque-overlay" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-3 mb-4">Hero image intro</h1>
          <p class="lead mb-5">Pingendo is a HTML editor for everyone. Easy for newbies, useful for professionals.
            <br>Code quality is a must. Pingendo generates clean, battle-tested, modular Bootstrap 4 code. </p>
          <a href="#" class="btn btn-lg mx-1 btn-secondary">A claim here</a>
          <a href="#" class="btn btn-lg btn-primary mx-1">Your call to action</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Benefits and features</h1>
          <p class="lead">Design unique interfaces by customizing Bootstrap theme with Pingendo.
            <br>Modify colors, fonts and grid setting without opening any CSS file.</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>For him</b></h5>
                </div>
              </div>
              <p>Based on fluid design principles. Works with screen resolution. &nbsp;In-app chat panel 24/7 active. The support you need, right there.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-venus"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>For her</b></h5>
                </div>
              </div>
              <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels with the switcher</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-neuter"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>For its</b></h5>
                </div>
              </div>
              <p>You are working with plain HTML and SASS files on your computer, so extending and integrating Javascript is a breeze.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-stroke"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>For anyone</b></h5>
                </div>
              </div>
              <p>Based on fluid design principles. Works with screen resolution.&nbsp;Choose settings depending on the criteria you value the most.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-double"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Even couples</b></h5>
                </div>
              </div>
              <p>In-app chat panel 24/7 active. The support you need, right there. Pingendo enhance the battery duration and the quality of your life.&nbsp;</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-genderless"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Any other?</b></h5>
                </div>
              </div>
              <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels. Share the work with teammates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>


{% endblock %}