{% extends "master.html.twig" %}


{% block title %}Main{% endblock %}


{% block content %}
    


    <h5>This is a dating website</h5><br><br>
    
    <p>Register <a href="/register">Here</a><p><br>
    <p>View your <a href="/profile">Profile</a></p><br>
    <p>Log in to <a href="/admin/login">Admin Panel</a></p><br>
    <p>Or <a href="/logout">Logout</a></p>


{% endblock %}