{% extends "master.html.twig" %}


{% block title %}Login_Success{% endblock %}

{% block content %}

<p>Login successful, <a href="/">click to continue</a>.</p><br>
<p><a href='/logout'>Logout</a> here</p>

{% endblock %}