{% extends "master.html.twig" %}


{% block title %}Logout{% endblock %}

{% block content %}
     <div class="container">
<p>You've been Logged out</p><br>
<p><a href="/">click to continue</a>.</p>
     </div>
{% endblock %}