{# empty Twig template #}
   <table class="table">
                        
                {% for chatMes in mes%}        
                        <tr>
                            <td><img src="" /></td>
                            <td>{{chatMes.messages}}</td>
                            <td>{{chatMes.date}}</td>
                        </tr>
{% endfor %}
  </table>