{% extends "master.html.twig" %}

{% block title %}Not Found{% endblock %}

{% block content %}
    
    <h3>Content was not found.</h3>
    <img src='/images/question.png' width="300" height="250">
    
{% endblock %}
