{% extends "master.html.twig" %}

{% block title %}Profile Edit Success{% endblock %}



{% block content %}
    
    <p> Profile changes are saved, <a href="/profile">Click to continue</a>. </p>
    
{% endblock %}
