{% extends "master.html.twig" %}


{% block headextra %}Profile{% endblock %}

  
   {% block content %}
            {% if errorList %}
                <ul>
                    {% for error in errorList %}
                        <li>{{error}}</li>
                        {% endfor %}
                </ul>
            {% endif %}
      
           
       <img src="{{pl.profPicId}}" alt="profile picture"/>
       <p><span>User Name:</span><span>{{pl.name}}</span></p>
       
       {% endblock %}{# empty Twig template #}
