{% extends "master.html.twig" %}


{% block headextra %}

  {% endblock %}

  
   {% block content %}
            {% if errorList %}
                <ul>
                    {% for error in errorList %}
                        <li>{{error}}</li>
                        {% endfor %}
                </ul>
            {% endif %}

         <p>Profile</p>   
            
       {% endblock %}{# empty Twig template #}
